html, body {
   overflow: hidden;
   margin: 0;
   padding: 0;
}

.jumbotron-return {
   margin: 0 !important;
   padding: 0 !important;
}

.background-container {
   width: calc(100vw + 50px);
   height: calc(100vh + 50px);
   background-repeat: no-repeat;
   filter: blur(10px) brightness(35%);
   background-size: cover;
   position: fixed;
   left: -25px;
   top: -25px;
   background-position-x: center;
   background-position-y: center;
}

.details-container {
   position: relative;
   width: 85vw;
   margin-left: calc(50% - 42.5vw);
   margin-top: 30px;
   bottom: 0;
   padding: 0;
   /* outline: 2px solid lime; */
}

.poster {
   float: left;
   height: calc((100vh - 65px) * 0.8);
   max-width: 28vw;
   max-height: 42vw;
}

.trailer-container {
   float: right;
   max-width: 48vw;
   height: min(63vh, calc(48vw / 16 * 9));
   width: 112vh;
}

.trailer-table, .poster-table {
   display: table;
   float: right;
   margin-bottom: 60px;
   /* outline: 2px solid fuchsia; */
}

.trailer-table {
   float: right;
}

.poster-table {
   float: left;
}

.trailer-table-cell, .poster-table-cell {
   display: table-cell;
   vertical-align: middle;
   height: calc((100vh - 65px) * 0.8);
   max-width: 28vw;
   max-height: 42vw;
   /* outline: 2px solid yellow; */
}

.title-container {
   margin-top: 20px;
   color: white;
   width: 85vw;
   position: relative;
   margin-left: calc(50% - 42.5vw);
   bottom: 0;
   padding: 0;
}

.movie-title {
   font-size: 30pt;
}

.movie-description {
   font-size: 18pt;
   text-align: justify;
   font-weight: lighter;
}

@media screen and (max-width: 700px), screen and (min-resolution: 300dpi) {
   .details-container {
      width: 90vw;
      margin-left: calc(50% - 45vw);
   }
   .title-container {
      width: 90vw;
      margin-left: calc(50% - 45vw);
   }
   .trailer-table, .poster-table, .trailer-table-cell, .poster-table-cell {
      display: block;
      float: unset;
      height: unset;
      max-width: unset;
      max-height: unset;
      text-align: center;
   }
   .trailer-table-cell, .poster-table-cell {
      width: 90vw;
      margin-bottom: 80px;
   }
   .poster {
      height: unset;
      max-width: 60vw;
      max-height: unset;
      float: unset;
   }

   .movie-title {
      font-size: 18pt;
      text-align: center;
   }

   .trailer-container {
      float: unset;
      width: 80vw;
      height: unset;
      max-width: unset;
      margin-left: 5vw;
   }
}

@media screen and (min-width: 700px) and (max-width: 1050px) {}

@media screen and (min-width: 1050px) and (max-width: 1600px) {}

@media screen and (min-width: 1600px) {}