<div class="top-bar">
    <div class="title-container-left">
        <a routerLink="/home">
            <img class="hv-logo" src="../../../assets/images/huawei_video_logo_reverse.png">
            <p class="title">HUAWEI VIDEO</p>
        </a>
    </div>
    <input type="image" class="logout-icon" src="../../../assets/images/baseline_logout_white_48dp.png"
        (click)="logout()">
</div>

<div class="background-container" [ngStyle]="{ 'background-image': 'url(' + backdrop + ')'}"></div>

<div *ngIf="movie" class="title-container">
    <p class="movie-title">{{movie.title}}</p>
    <!-- <p class="movie-description">{{movie.description}}</p> -->
</div>
<div class="details-container">
    <div class="poster-table">
        <div class="poster-table-cell">
            <img [src]="poster" class="poster">
        </div>
    </div>

    <div class="trailer-table">
        <div class="trailer-table-cell">
            <div [innerHtml]="iframe" class="trailer-container embed-responsive embed-responsive-16by9"></div>
        </div>
    </div>
</div>
