<div class="top-bar">
    <div class="title-container-left">
        <a routerLink="/home">
            <img class="hv-logo" src="../../../assets/images/huawei_video_logo_reverse.png">
            <h1 class="title">HUAWEI VIDEO</h1>
        </a>
    </div>
    <img class="profile-icon" src="../../../assets/images/baseline_person_white_48dp.png">
    <input class="search-box" type="text" onclick="this.select()">
</div>

<div class="fake-top-bar"></div>

<div class="gallery-container">
    <h3>TOP POPULAR MOVIES</h3>
    <div class="gallery">
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
    </div>
</div>

<div class="gallery-container">
    <h3>CHOSEN FOR YOU</h3>
    <div class="gallery">
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
    </div>
</div>

<div class="gallery-container">
    <h3>MOST RECENT</h3>
    <div class="gallery">
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
        <a><div class="gallery-cell"></div></a>
    </div>
</div>

