<div class="top-bar">
    <div class="title-container-left">
        <a routerLink="/home">
            <img class="hv-logo" src="../../../assets/images/huawei_video_logo_reverse.png">
            <h1 class="title">HUAWEI VIDEO</h1>
        </a>
    </div>
    <input type="image" class="logout-icon" src="../../../assets/images/baseline_logout_white_48dp.png"
        (click)="logout()">
    <input class="search-box" [(ngModel)]="query" (ngModelChange)="getSearchResults()" type="text"
        onclick="this.select()" autocomplete="off" maxlength="25">
</div>

<div *ngIf="!searchResults.length" class="page-container-without-search">
    <div class="gallery-container">
        <h3>TOP POPULAR MOVIES</h3>
        <div class="gallery">
            <a *ngFor="let topPopMovie of topPopMovies">
                <img *ngIf="!topPopMovie.poster" class="gallery-cell">
                <img *ngIf="topPopMovie.poster" class="gallery-cell" [src]=topPopMovie.poster>
            </a>
        </div>
    </div>

    <div class="gallery-container">
        <h3>CHOSEN FOR YOU</h3>
        <div class="gallery">
            <a *ngFor="let recommendedMovie of recommendedMovies">
                    <img *ngIf="!recommendedMovie.poster" class="gallery-cell">
                    <img *ngIf="recommendedMovie.poster" class="gallery-cell" [src]=recommendedMovie.poster>
            </a>
        </div>
    </div>

    <div class="gallery-container">
        <h3>CONTINUE WATHCING</h3>
        <div class="gallery">
            <a *ngFor="let watchedMovie of watchedMovies">
                    <img *ngIf="!watchedMovie.poster" class="gallery-cell">
                    <img *ngIf="watchedMovie.poster" class="gallery-cell" [src]=watchedMovie.poster>
            </a>
        </div>
    </div>
</div>

<div *ngIf="searchResults.length" class="page-container-with-search">
    <div class="search-results-container">
        <h3>SEARCH RESULTS</h3>
        <a *ngFor="let searchResult of searchResults">
            <div class="search-cell"></div>
        </a>
    </div>
</div>