.top-bar {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    background-color: var(--main-huawei-color);
    top: 0;
    box-shadow: 0px 6px 11px -1px rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.hv-logo {
    position: relative;
    display: inline;
    height: 3rem;
    float: left;
    margin: .1rem 15px .25rem 0;
}

.title-container-left {
    display: inline;
    float: left;
    position: relative;
    width: auto;
}

.title {
    display: inline-block;
    color: white;
    line-height: 3rem;
}

.fake-top-bar {
    margin-bottom: 60px;
}

@media screen and (max-width: 700px), screen and (min-resolution: 300dpi) {
    .top-bar{
        padding: 10px 20px;
    }

    .title {
        display: none;
    }
    
    .search-box:focus {
        width: 60%;
        min-width: 5em;
    }

    .gallery-cell {
        width: 20vw;
        height: 30vw;
    }

    .gallery-container > h3 {
        font-size: 12pt;
    }
}