/* You can add global styles to this file, and also import other style files */

html {
    background-color: #e9ecef;
}

.jumbotron{
    abackground-color: transparent !important;
    border-radius: 0 !important;
} 